header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
  width: 100%;
  height: $nav-height-mobile;
  z-index: 6;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

  @include over-mobile {
    height: $nav-height-desktop;
    padding: 0 30px;
    border-bottom: unset;
  }

  .header-logo {
    height: 25px;
    width: 25px;
  }

  // .header-burger {}
  .header-close {
    @include flex-center;
    cursor: pointer;
    width: 56px;
    height: 56px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(50px);
    border-radius: radius();
    border: 0;
  }
}
