.pillar {
  height: fit-content;
  padding: 12px 24px 42px;
  background: #0d1b35;
  border-radius: radius(5);

  .pillar-info {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    h2 {
      font-size: 1.8rem;
    }

    p {
      font-size: 3rem;
      font-weight: 700;
      color: rgba($color: $clr-accent, $alpha: 0.1);
    }
  }

  .pillar-description {
    p:first-child {
      font-style: italic;
      margin-bottom: 1rem;
    }
  }
}
