
.activity {
  .top-cover-bar {
    border-top: 1px solid $clr-primary;
    height: 1px;
  }

  h4 {
    color: $clr-primary-light;
    font-size: 2.5rem;
    padding: 1.5rem 0;
  }

  .activity-tagline {
    font-size: 1.1rem;
    padding: 1.5rem 0;
    font-style: italic;
  }

  .activity-detail {
    font-size: 1rem;
    line-height: 2;
  }
}
