//   // Extends
  
//   %side-container{
//     align-items: center;
//     justify-content: center;
//     width:100px;

//     @media (min-width: $bp-desktop) {
//       display: flex;
//     }

//   }
//   %side-nav {
//     font-size: 12px;
//     font-weight:900;
//     color: #ffffff;
//     text-transform: uppercase;
//     text-orientation: mixed;
//     writing-mode: vertical-lr;
//     opacity:50%;
//     letter-spacing: 0.2em;
//   }

//   %logo-box {
//     background-image: linear-gradient(#59e5ae, #49b576);
//     display:inline-block;
//     width: 10px;

//     @media (min-width: $bp-tablet){
//       width: 12.5px;
//     }
//   }
//   %animating-logo-box {
//     background: none;
//     border: 1px solid transparent;
//     border-image: linear-gradient(to bottom, rgba(77, 229, 175, 0.2),
//       rgba(77, 229, 175, 0.068));
//     border-image-slice: 1;
//     z-index: 0; 
//     border-radius: 2px;
//   }
// // Mixins
//   @mixin logoanimate($op:.9, $top:35%){
//     opacity: $op;
//     animation: breathe 3s ease-in-out infinite;
//     top: $top;
//   }

%side-bar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  padding: 1.25rem ;
  
  @media (min-width: $bp-tablet){
    flex-direction: column;
    width: 100px;
    padding: 1.25rem 0;
  }
}

%block-title {
  width: 100%;
  text-align:center;
  margin: 6rem 0;
  h3 {
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 2px;
    font-family: "Brandon-light";

  }
}