// Extends

%side-container {
  display: flex;
  flex-direction: column;
  width: 100px;
}
%side-nav {
  font-size: 12px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  text-orientation: mixed;
  writing-mode: vertical-lr;
  opacity: 50%;
  letter-spacing: 0.2em;
}

%logo-box {
  background-image: linear-gradient(#59e5ae, #49b576);
  display: inline-block;
  width: 12.5px;
}
%animating-logo-box {
  width: 50%;
  background-image: none;
  border: solid 1px transparent;
  border-image: linear-gradient(
    to bottom,
    rgba(77, 229, 175, 0.2),
    rgba(77, 229, 175, 0.068)
  );
  border-image-slice: 1;
}
// Mixins
@mixin logoanimate($op: 0.9, $top: 35%) {
  opacity: $op;
  animation: breathe 3s ease-in-out infinite;
  top: $top;
}
