$bg-gradient-start: #041534;
$bg-gradient-end: #030f26;
$primary-gradient-light: #4de5af;
$primary-gradient-dark: #3bb98c;
$bp-tablet: 600px;
$bp-desktop: 900px;
$rgba-light-green: rgba(77, 229, 175, 1);
$grey-border: 1px solid rgba(255, 255, 255, 0.05);