.home {
  display: grid;
  grid-template-columns: auto;
  height: calc(100vh - $nav-height-mobile);

  @include over-mobile {
    grid-template-columns: 100px auto 100px;
    height: calc(100vh - $nav-height-desktop);
  }

  &-left,
  &-right {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    height: 100%;
    padding-bottom: 84px;
    writing-mode: vertical-lr;

    @include over-mobile {
      display: flex;
    }

    &::after {
      content: "";
      position: absolute;
      height: calc(100% + 84px);
      width: 1px;
      background-color: rgba(255, 255, 255, 0.05);
      opacity: 0.5;
      top: -84px;
    }

    a {
      color: rgba($clr-accent, 0.5);
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-size: 0.67em;
      font-weight: 900;
      transition: all ease 0.3s;

      &:hover {
        color: rgba($clr-accent, 0.8);
      }
    }
  }

  &-left {
    &::after {
      right: 0;
    }

    a {
      transform: scale(-1, -1);
    }
  }

  &-right {
    &::after {
      left: 0;
    }
  }

  &-middle {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 24px;

    @include over-mobile-large {
      padding: 48px;
    }

    &-text {
      display: grid;
      column-gap: 78px;
      row-gap: 18px;
      font-family: $primary-font;
      max-width: 600px;
      margin-bottom: 30px;

      @include over-tablet-large {
        max-width: 1000px;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 60px;
      }
    }

    &-buttons {
      max-width: 600px;
      width: 100%;

      .home-button {
        margin-right: 18px;

        &:last-child {
          margin-right: 0;
        }
      }

      @include over-tablet-large {
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 78px;
        width: fit-content;
        max-width: 1000px;

        .home-button {
          margin-right: unset;
        }
      }
    }
  }

  &-tagline {
    color: $rgba-light-green;
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;

    @include over-tablet {
      font-size: 48px;
      line-height: 48px;
    }

    @include over-tablet-large {
      text-align: right;
    }
  }

  &-info {
    width: 100%;
    font-size: 24px;
    line-height: 36px;
    color: $clr-accent;

    span {
      color: #4DE5AF;
    }
  }
}
