@import "variables";
@import "mixins";

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;

  @media (min-width: $bp-tablet) {
    flex-direction: row;
  }

  .middle-section {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    .home-text {
      position: relative;
      z-index: 5;
      max-width: 80%;
      display: flex;
      align-items: center;
      margin: 0 auto;
      flex-direction: column;

      @media (min-width: $bp-tablet) {
        flex-direction: row;
        max-width: 600px;
      }
      @media (min-width: $bp-desktop) {
        max-width: 900px;
      }

      .tagline {
        width: 100%;
        color: $rgba-light-green;
        font-size: 48px;

        @media (min-width: $bp-tablet) {
          text-align: right;
          width: 50%;
          margin-right: 20px;
        }
      }

      .info {
        width: 100%;
        font-size: 24px;
        color: $clr-accent;

        @media (min-width: $bp-tablet) {
          margin-left: 20px;
          width: 50%;
        }
      }
    }

    .arrow-with-shadow {
      position: absolute;
      top: 85%;
      transition: ease-out 0.7s;

      .arrow {
        margin: 0 auto;
        height: 25px;
        width: 25px;
        transform: rotate(45deg);
        filter: drop-shadow(28px 28px 18px rgba(77, 229, 175, 0.6));
      }

      .ellipse {
        height: 5px;
        width: 60px;
        margin-top: 20px;
        background: rgba(77, 229, 175, 0.3);
        filter: blur(8px);
      }
    }
  }

  .side-header {
    @extend %side-bar;
    border-bottom: $grey-border;
    border-right: $grey-border;
    
    .nav-title-link {
      visibility: hidden;
      
      @media (min-width: $bp-tablet) {
        visibility: visible;
        writing-mode: vertical-rl;
        transform: scale(-1, -1);
        color: $clr-accent;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-size: 0.75em;
        opacity: 50%;
        font-weight: 900;
      }
    }

    .nav-icon {
      visibility: visible;

      @media (min-width: $bp-tablet) {
        visibility: hidden;
      }
    }
  }
  .side-footer {
    @extend %side-bar;
    border-left: $grey-border;

    .nav-icon {
      visibility: hidden;

      @media (min-width: $bp-tablet) {
        visibility: visible;
      }
    }

    .nav-title-link {
      visibility: hidden;

      @media (min-width: $bp-tablet) {
        visibility: visible;
        writing-mode: vertical-rl;
        text-transform: uppercase;
        font-size: 0.75em;
        letter-spacing: 0.2em;
        text-decoration: none;
        color: $clr-accent;
        opacity: 50%;
        font-weight: 900;
      }
    }
  }
}
