@import "variables";
@import "mixins";

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;

  @media (min-width: $bp-tablet) {
    flex-direction: row;
  }

  .middle-section {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    .home-text {
      position: relative;
      z-index: 5;
      max-width: 80%;
      display: flex;
      align-items: center;
      margin: 0 auto;
      flex-direction: column;

      @media (min-width: $bp-tablet) {
        flex-direction: row;
        max-width: 600px;
      }

      @media (min-width: $bp-desktop) {
        max-width: 900px;
      }

      .tagline {
        width: 100%;
        color: $rgba-light-green;
        font-size: 32px;
        line-height: 48px;


        @media (min-width: $bp-tablet) {
          font-size: 34px;
          text-align: right;
          width: 50%;
          margin-right: 20px;
        }

        @media (min-width: $bp-desktop) {
          font-size: 48px;
        }
      }

      .info {
        width: 100%;
        font-size: 24px;
        color: $clr-accent;

        @media (min-width: $bp-tablet) {
          margin-left: 20px;
          width: 50%;
        }
      }
    }


  }

  .side-header {
    @extend %side-bar;
    // border-bottom: $grey-border;

    @media (min-width: $bp-tablet) {
      border-right: $grey-border;
    }

    .nav-title-link {
      visibility: hidden;

      @media (min-width: $bp-tablet) {
        visibility: visible;
        writing-mode: vertical-rl;
        transform: scale(-1, -1);
        color: rgba($clr-accent, $alpha: .5);
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-size: 0.75em;
        font-weight: 900;
      }
    }

    .nav-icon {
      visibility: visible;

      @media (min-width: $bp-tablet) {
        visibility: hidden;
      }
    }
  }

  .side-footer {
    @extend %side-bar;
    border-top: $grey-border;

    @media (min-width: $bp-tablet) {
      border-left: $grey-border;
    }

    .nav-icon {
      visibility: hidden;

      @media (min-width: $bp-tablet) {
        visibility: visible;
      }
    }

    .nav-title-link {
      visibility: hidden;

      @media (min-width: $bp-tablet) {
        visibility: visible;
        writing-mode: vertical-rl;
        text-transform: uppercase;
        font-size: 0.75em;
        letter-spacing: 0.2em;
        text-decoration: none;
        color: rgba($clr-accent, $alpha: .5);
        font-weight: 900;
      }
    }
  }
}
