@import "variables";
@import "constants";
@import "media";
@import "mixins";

@import "./icons";
@import "./components";

@import "Home.scss";
@import "ryazMethod.scss";
@import "singleProject.scss";
@import "contact.scss";

:root {
  font-size: 18px;
}


body {
  margin: 0;
  padding: 0;
  background: linear-gradient(111.17deg, $clr-bg-lighter 0.23%, $clr-bg-darker 100%);
  font-family: "Brandon";
  color: $clr-accent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.ff-brandon {
  font-family: "Brandon";
}

.ff-brandon-light {
  font-family: "Brandon";
  font-weight: 300;
}

.ff-brandon-bold {
  font-family: "Brandon";
  font-weight: bold;
}

.ff-brandon-italic {
  font-family: "Brandon";
  font-weight: 300;
  font-style: italic;
}

.ff-brandon-medium {
  font-family: "Brandon";
  font-weight: 500;
}

html {
  -webkit-text-size-adjust: none;
}

img {
  max-width: 100%;
  width: auto;
}

.clear:before,
.clear:after {
  content: "";
  display: block;
  clear: both;
}

.highlighted-txt {
  color: $clr-primary-light;
}

.highlight-grn {
  color: #4DE5AF;
}

.primary-btn {
  padding: 0.75rem 2.25rem;
  border: none;
  border-radius: 0.5rem;
  background: $clr-primary;
  color: $clr-accent;
  font-size: 1rem;

  @media (min-width: $bp-desktop) {
    padding: 1rem 3rem;
  }
}
