@import "variables";
@import "mixins";
@import "home.scss";
@import "ryazMethod.scss";
@import "movingLogo.scss";
@import "ryazLogo.scss";
@import "singleProject.scss";
@import "contact.scss";
@import "footer.scss";

:root {
  font-size: 18px;
}

@import "./components";

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(111.17deg, $clr-bg-lighter 0.23%, $clr-bg-darker 100%);
  font-family: "Brandon";
  color: $clr-accent;
}

.ff-brandon {
  font-family: "Brandon";
}

.ff-brandon-light {
  font-family: "Brandon-light";
}

.ff-brandon-bold {
  font-family: "Brandon-bold";
}

.ff-brandon-italic {
  font-family: "Brandon-light-italic";
}

.ff-brandon-medium {
  font-family: "Brandon-medium";
}

* {
  padding: 0;
  margin: 0;
  font-family: "Brandon";
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none;
}

img {
  max-width: 100%;
  width: auto;
}

.clear:before,
.clear:after {
  content: "";
  display: block;
  clear: both;
}

.header-logo {
  width: 25px;
  height: 25px;
}

.highlighted-txt {
  color: $clr-primary-light;
}

.highlight-grn {
  color: #4DE5AF;
}


//navIcon

.nav-icon {
  cursor: pointer;
  height: 22px;
  width: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .line {
    width: 16px;
    margin-bottom: 6px;
    border-radius: 2px;

    &:nth-child(2) {
      width: 22px
    }
  }
}

//fancyLabel

.fancy-label {
  height: fit-content;
  width: fit-content;
  padding: 8px 16px;
  border-radius: 100px;
  color: #000;
  margin: 0 10px 0 0;
}

.arrow-with-shadow {
  position: absolute;
  top: 85%;
  left: 46%;
  transition: ease-out 0.7s;

  .arrow {
    margin: 0 auto;
    height: 25px;
    width: 25px;
    transform: rotate(45deg);
    filter: drop-shadow(28px 28px 18px rgba(77, 229, 175, 0.6));
  }

  .ellipse {
    height: 5px;
    width: 60px;
    margin-top: 20px;
    background: rgba(77, 229, 175, 0.3);
    filter: blur(8px);
  }
}

.primary-btn {
  padding: 0.75rem 2.25rem;
  border: none;
  border-radius: 0.5rem;
  background: $clr-primary;
  color: $clr-accent;
  font-size: 1rem;

  @media (min-width: $bp-desktop) {
    padding: 1rem 3rem;
  }
}
