@import "variables";
@import "mixins";
@import "home.scss";
// @import "backgroundLogo.scss";
@import "movingLogo.scss";
@import "ryazLogo.scss";
@import "singleProject.scss";
@import "contact.scss";

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(111.17deg, $bg-gradient-start 0.23%, $bg-gradient-end 100%);
  font-family: "Brandon";
}

.ff-brandon {
  font-family: "Brandon";
}

.ff-brandon-light {
  font-family: "Brandon-light";
}

.ff-brandon-bold {
  font-family: "Brandon-bold";
}

.ff-brandon-medium {
  font-family: "Brandon-medium";
}

* {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html {
    -webkit-text-size-adjust:none;
}
img {
  max-width: 100%;
  width: auto;
}

.clear:before,
.clear:after {
  content: "";
  display: block;
  clear: both;
}

.header-logo{
  width: 25px;
  height: 25px;
}

.highlight-grn{
  color: #4DE5AF;
}


//navIcon

.nav-icon{
  cursor: pointer;
  height: 22px;
  width: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .line{
    width: 16px;
    border: solid 1px $clr-accent;
    margin-bottom: 6px;
    border-radius: 2px;

    &:nth-child(2){
      width: 22px
    }
  }
}

//fancyLabel

.fancy-label{
  width: fit-content;
  padding: 5px 25px;
  border-radius: 100px;
  color: #000;
  margin: 0 10px 0 0;
}