.work-container {
  width: 100%;
}
.work-tagline {
  color: #fff;
  font-size:36px;
  width: 583px;
  text-align:center;
  margin: 154px auto 90px auto;
}

.work-blocks {
  width: 80%;
  margin:0 auto;
  display: flex;
  justify-content: space-around;
}

.work-blk {
  color: #fff;

  .work-num {
    font-size: 144px;
    color: rgba(255, 255, 255, 0.05);
  }
  .work-title {
    font-size: 64px;
  }
  .work-line {
    font-size: 16px;
  }
}