@import "variables";

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.25rem;
}
.work-container {
  color: $clr-accent;
  padding: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  z-index: 5;
}
.work-tagline {
  font-size: 1.5rem;
  max-width: 555px;
  margin: auto;
  text-align: center;
  padding: 60px 0;
}

.projects-block {
  width: 85vw;

  .project {
    display: flex;

    .project-info {
      display: flex;
      align-items: baseline;
      width: 50%;

      .project-srno {
        font-size: 9rem;
        color: rgba($color: $clr-accent, $alpha: 0.04);
      }

      div {
        transform: translateX(-20px);

        .project-name {
          font-size: 5rem;
        }
      }
    }
    .project-image {
      width: 50%;

      div {
        width: 40%;
        position: absolute;
        background: linear-gradient(
            111.17deg,
            $bg-gradient-start 0.23%,
            $bg-gradient-end 100%
          ),
          linear-gradient(to bottom, $clr-accent, transparent);
        border-radius: 10px;
        backdrop-filter: blur(40px);
        border: solid 2px transparent;
        background-origin: border-box;
        background-clip: content-box, border-box;
        padding: 1px;

        img {
          margin: 3px;
          padding: 10px;
          border-radius: 20px;
          transition: ease-out 1.5s;
          padding: 2px;
          width: 99%;
        }
      }
    }
  }
}

@keyframes mount {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes unmount {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
