body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Brandon";
  src: url("fonts/BrandonGrotesque-Black.eot");
  src: url("fonts/BrandonGrotesque-Black.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/BrandonGrotesque-Black.woff") format("woff"),
    url("fonts/BrandonGrotesque-Black.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brandon-light";
  src: url("fonts/BrandonGrotesque-Light.eot");
  src: url("fonts/BrandonGrotesque-Light.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/BrandonGrotesque-Light.woff") format("woff"),
    url("fonts/BrandonGrotesque-Light.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
